@charset "utf-8";
/* CSS Document */

/*reset开始*/
html,body,div,ul,li,ol,dl,dt,dd,p,input,table,td,tr,h1,h2,h3,h4,h5,h6,form{margin:0;padding:0;}
img ,img a{border:none;}
body{font-family:"微软雅黑";font-size:12px;text-align:left;	color:#000;}
ul,ol{list-style-type:none;}
a ,a:hover{text-decoration:none;cursor:pointer;color:#000;}
i,em{ font-style:normal;}
.clear{clear:both;}
.left{ float:left;}
.right{ float:right;}

#ztcontainer{width:950px;margin:0 auto; overflow:hidden; position:relative; background-color:#fff;}
#ztHeadText{ line-height:18px; font-size:14px; color:#ee463f; padding:5px 0px; color:#FF8010;}
#ztcontent{ position:relative; margin-right:auto; margin-left:auto;}
.zttopic_tit{  margin-bottom:15px;}
.zthot_topic{ width:950px; margin:15px auto 0px auto;}
.zttopic_con a{ margin:0px 6px 8px 0px; display:inline-block;}
.ztfooter{text-align:center; margin:10px 0px; padding-top:20px;}
.ztfooter p{width:950px;color:#000;font-size:12px;margin:0 auto;}


.ztW216{ width:216px; float:left; padding:10px; display:inline; }


.BG1{ width:780px; height:566px; margin:0 auto;}
.head{width:780px; height:90px; overflow:hidden;}
.head2{  width:116px; height:63px; margin-top:25px; float:left; margin-left:336px; overflow:hidden;}
.head2 h1{ font-size:36px; color:#ff4784;  display:block; float:left; }
.content{width:780px; height:495px; background: url(../images/BG_07.jpg) no-repeat; position:relative; overflow:hidden;}
.content_2{width:780px; height:495px; background: url(../images/BG2.jpg)  no-repeat; position:relative; overflow:hidden;}
.logo{width:176px; height:55px; margin-left:12px; margin-top:22px; display:block; float:left;}
.s1{ margin-left:17px; margin-top:41px;}
.s2{top:52px; margin-left:6px; float:left; margin-top: 18px;}


.start{ width:242px; height:55px; display:block; margin-left:363px;  margin-top:23px;}
.contellation{font-size:36px; color:#b0003b; display:block; text-align:center; margin-top:61px; }
.love{font-size:36px; color:#b0003b; display:block; text-align:center; margin-top:63px;}
.self{font-size:36px; color:#b0003b; margin-top:63px; margin-left:148px; width:501px; height:81px; display:block;}
.money{font-size:36px; color:#b0003b; display:block; text-align:center; margin-top:63px;}
.style{font-size:36px; color:#b0003b; display:block; text-align:center; margin-top:63px;}
.welldone{font-size:36px; color:#b0003b; display:block; text-align:center; margin-top:63px;}







.d1{ width:639px; height:297px; margin-top:28px; margin-left:83px;}
.d2{width:100xp; height:180px; margin-left:347px; margin-top:40px;}
.d2 a{display:block; margin-bottom:10px; width:90px;}
.d3{width:476px; height:216px; margin-left:148px; margin-top:40px;}
.d3 a { margin-bottom:15px; display:block; }
.d4{width:217px; height:237px; margin-left:244px; margin-top:40px;}
.d4 a{margin-bottom:15px; display:block;}
.d5{ width:109px; height:245px; margin-right:20px;  float:left;}
.d5 a{margin-bottom:15px; display:block;}
.d6{ width:167px; height:181px; float:left; margin-left:16px; margin-top:33px;}
.d6 a{ display:block; width:164px; height:40px; margin-bottom:16px;}

.p1{ font-size:28px; color:#b0003b; display:block; width:364px; height:146px; margin-top:102px; margin-left:363px; font-weight: 700;}
.box{width:91px; height:116px; float:left; margin-right:15px; margin-bottom:31px;}
.box a{ display:block;}
.p2{ height:20px; line-height:20px; text-align:center; font-size:18px; margin-top:4px;}



















