@charset "utf-8";
/* CSS Document */

/*reset开始*/
html,body,div,ul,li,ol,dl,dt,dd,p,input,table,td,tr,h1,h2,h3,h4,h5,h6,form{margin:0;padding:0;}
img ,img a{border:none;}
body{font-family:"微软雅黑";font-size:12px;text-align:left;	color:#000;}
ul,ol{list-style-type:none;}
a ,a:hover{text-decoration:none;cursor:pointer;color:#000;}
a{ outline:none;}
i,em{ font-style:normal;}
.clear{clear:both;}
.left{ float:left;}
.right{ float:right;}
input{ outline:none;}
a{ blr:expression(this.onFocus=this.blur()); /* IE Opera */ outline:none; /* FF Opera */ } a:focus{ -moz-outline-style: none; /* FF */ } 
label,input{ outline:none;}


#ztcontainer{width:950px;margin:0 auto; overflow:hidden; position:relative; background-color:#fff;}
#ztHeadText{ line-height:18px; font-size:14px; color:#ee463f; padding:5px 0px; color:#FF8010;}
#ztcontent{ position:relative; margin-right:auto; margin-left:auto;}

.ztfooter{text-align:center; margin:3px 0px; }
.ztfooter p{width:950px;color:#000;font-size:12px;margin:0 auto;}


.ztW216{ width:216px; float:left; padding:10px; display:inline; }

/*以下为每次修改一部分，主要分为两个部分*/
/*测试页面*/
/*开始页面*/
.box1{ width:780px; height:600px; margin-left:auto; margin-right:auto; position:relative;}
.head{width:100%; height:91px;}
.head_logo{ width:307px; height:77px; overflow:hidden; margin-left:10px;}

.logo{ display:block; width:179px; height:55px; background:url(../images/img_start_03.jpg) no-repeat; float:left; margin-top:10px;}
.fashion_more{ float:left; margin-left:10px;  width:103px; height:27px; background: url(../images/fashionmore.jpg); margin-top:40px;}
/*标志是区分没测而是的，所以每次都不一样*/
.sign{ background:  url(../images/sign.jpg) no-repeat; width:176px; height:50px; float:right; margin-top:20px;}

.main1{ background: url(../images/BG1.jpg) no-repeat; width:100%; height:495px; overflow:hidden; clear:left; margin-top:10px;}
.main2{background: url(../images/BG2.jpg) no-repeat; width:100%; height:495px; overflow:hidden; clear:left; margin-top:10px;}
.main3{background: url(../images/BG3.jpg) no-repeat; width:100%; height:495px; overflow:hidden; clear:left; margin-top:10px;}
.main4{background: url(../images/BG4.jpg) no-repeat; width:100%; height:495px; overflow:hidden; clear:left; margin-top:10px;}
/*特有*/
.start_button{ width:206px; height:49px; display:block; margin-left:470px; margin-top:182px;}
.question_title{ width:624px; height:47px; margin-left:87px; margin-top:67px;}
.question_title p{ width:457px; height:20px; font-size:20px; font-family: "微软雅黑"; line-height:20px; color:#002985; display:block; float:left; margin-top:20px;}
.process{ width:132px; height:38px; position:relative; float:left; margin-left:10px; margin-top:5px;}
.process img{ display:block; float:left; }
.process span{ display:block; background:url(../images/bg.jpg) no-repeat; width:48px; height:25px; font-size:11px; color:#2F6FA5; text-align:center; vertical-align:middle; line-height:22px;}
.d1{position:absolute; top:-1px; left:1px;}
.d2{position:absolute; top:-1px; left:1px;}
.d3{position:absolute; top:-1px; left:15px;}
.d4{position:absolute; top:-1px; left:47px;}
.d5{position:absolute; top:-1px; left:74px;}
.question_content{ width:534px; height:154px; margin-left:105px; margin-top:52px;}
.question_content p{color:#6F5B35; font-size:17px; margin-bottom:22px; }
.question_content label{ cursor:pointer; outline:none;}
.score{ font-size:150px; color:#002985; font-style:italic; font-family:Arial, Helvetica, sans-serif; width:360px; height:102px; display:block; text-align:center; vertical-align:middle; line-height:102px; margin-left:34px; margin-top:113px; float:left;}
.shareto{ width:182px; height:52px; display:block; margin-left:87px; margin-top:161px; float:left;}

.result_img{ display:block; margin: 109px 0px 0px 69px; float:left;}
.zhishu{ width:254px; height:212px; float:left; margin:148px 0px 0px 46px; color:#207395; font-family:"微软雅黑"; position:relative;}
.zhishu_title{ font-size:24px; width:100%; display:block;}
.zhishu_content{ font-size:16px; margin-top:40px; display:block;}



.more_fashion{ width:149px; height:41px; display:block; float:left; background:url(../images/wonderful.png) no-repeat; position:absolute; bottom:0px; left:-23px;}
.try_again{ display:block; width:140px; height:40px; float:left; background:url(../images/check_again.png) no-repeat; position:absolute; bottom:0px; left:136px;}











